@charset "UTF-8";

@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 300px;
}

.contents{
    display:flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto 50px;
    max-width: 700px;
}
input {
  width: 100%;
  border-left:0;
  border-right:0;
  border-top:0;
  border-bottom: 1px solid #bbb;
  padding: 10px 12px;
  font-size: 14px;
}
.filter{
    margin-top: 5px;
    margin-right: 5px;
}
.btn-outline-secondary{
    border-radius : 30px;
    font-size: 14px;
}

.my_navbar{
     display:flex;
     align-items: center;
     flex-direction: row;
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.page_title{
    font-size: 28px;
}
#top-nav-bar{
    position:absolute;
    width: 100%;
    z-index:11;
}

#info-id{
    position:absolute;
    width: 100%;
    bottom:0;
    left:0;
    background-color: #ffffff;
    z-index:10;
}
#nav_title{
    font-family: 'Jua', sans-serif;
}