<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>지도화면(home)입니다</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pjyeb54o2p"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css" integrity="sha512-6c4nX2tn5KbzeBJo9Ywpa0Gkt+mzCzJBrE1RB6fmpcsoN+b/w/euwIMuQKNyUoU/nToKN3a8SgNOtPrbW12fug==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>홍대생의 카공지도</h1>
        <span class="fs-5 fw-light">오늘은 카공하러 어디로 갈까?</span><br>
        <span class="fs-6 fw-light">카페를 클릭해 다른 사람들은 어떻게 느꼈는지 확인해보세요!</span><br>
        <!--
        <p class="lead">카페 클릭시 정보를 볼수있습니다.</p>
        <h1 class="lead">더보기 클릭시 자세한 정보를 볼수있습니다.</h1>-->
    </div>
</div>

<div class="mt-3 mb-3" id="map" style="width:100%;height:75vh; margin: 0 auto; float : left">
    <!--- 정보창 내용 -->
    <div id="info-id" class="p-3">
        <div class=" d-flex justify-content-between align-items-center border-0">
            <div class="ms-2 me-auto">
                <h3 id="cafename">값</h3>
                <p class="fw-light" id="cafeplace">값</p>
            </div>
            <span class="badge bg-primary rounded-pill fw-light" id="num">리뷰 10개 </span>
        </div>
        <div class="container border-0 justify-content-start" style="margin: 0;">
            <div class="row" style="max-width: 500px;">
                <div class="col text-start fw-light"><span id="cafekey1">값</span></div>
                <div class="col text-start fw-light"><span id="cafekey2">값</span></div>
                <div class="col text-start fw-light"><span id="cafekey3">값</span></div>
            </div>
            <div class="row" style="max-width: 500px;">
                <div class="col text-start fw-light"><span id="cafekey4">값</span></div>
                <div class="col text-start fw-light"><span id="cafekey5">값</span></div>
                <div class="col text-start fw-light"><span id="cafekey6">값</span></div>
            </div>
        </div>
        <!-- 더보기 버튼 (value = 누른 카페의 ID)-->
        <form id="form-id" action="/more" method="get">
            <input type="hidden" class="input" name="id" id="id" value="1">
            <button class="btn fw-light" type="submit">더보기</button>
        </form>
    </div>
</div>

<button id="btn_loc" onclick="curLocation">내위치로</button>
</body>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>


<script th:inline="javascript">
    //db -> js 배열
    let cafeArr = new Array();
    let cafeList = [[${cafeList}]];

    cafeList.forEach(function(item){
        let cafe = new Object();

        cafe.id = item.cafe_id
        cafe.place = item.cafe_place
        cafe.name = item.cafe_name
        cafe.key_num = item.key_num
        cafe.cnt=item.cnt
        cafe.cafe_lat = item.cafe_lat
        cafe.cafe_lng = item.cafe_lng


        cafeArr.push(cafe);
    });

</script>
<script type="text/javascript">
    $(function() {
        initMap();
    });

    function initMap() {
        document.getElementById("info-id").style.display = 'none';
        var areaArr = new Array();  // 지역을 담는 배열 ( 지역명/위도경도 )
        areaArr.push(
            /*지역구 이름*/			/*위도*/					/*경도*/
            {location : '베어스덴',lat:'37.5498732347229',lng:'126.922668185082'},
            {location : '언더플로어',lat:'37.5498732347229',lng:'126.922668185082'},
            {location : '작당모의',lat:'37.5606085859485',lng:'126.925417012996'},
            {location : '아벨롭',lat:'37.5544654855325',lng:'126.918841400479'},
            {location : '피오니',lat:'37.5500851944722',lng:'126.919764712297'},
            {location : '모센즈스위트',lat:'37.5498355858466',lng:'126.920784708281'},
            {location : '아오이토리,',lat:'37.5547753182732',lng:'126.929469982132'},
            {location : '샌드커피',lat:'37.5592711660529',lng:'126.924174847151'},
            {location : '카페 공명',lat:'37.5598714945494',lng:'126.926300212385'},
            {location : '도식화',lat:'37.5497882345776',lng:'126.921792717037'},
            // {location : '앳커피',lat:'37.5498732347229',lng:'126.922668185082'},
            // {location : '스타벅스 홍대역8번출구점' , lat : '37.55602055992243' , lng : '126.922939675669061'},
            // {location : '스타벅스 홍대공항철도역점' , lat : '37.55748838221418' , lng : '126.92519320428961'},
            // {location : '엔젤리너스 L7홍대점' , lat : '37.55567500441952' , lng : '126.92153667791773 '},
            // {location : '홍대 투썸플레이스' , lat : '37.558061977615345' , lng : '126.92395616899384'},
            // {location : '커피빈 홍대역8번출구점' , lat: '37.556776463845345',lng: '126.92498737097256 '},

            {location : '도식화',lat:'37.5512291674425',lng:'126.915342505913'},
            {location : '도식화',lat:'37.5580627655669',lng:'126.929283196897'},
            {location : '도식화',lat:'37.5492304330819',lng:'126.917434904257'},
            {location : '도식화',lat:'37.5479140756509',lng:'126.923315911128'},
            {location : '도식화',lat:'37.5478957029264',lng:'126.917190362476'},
            {location : '도식화',lat:'37.547693524246',lng:'126.917713619072'},
            {location : '도식화',lat:'37.5488300965598',lng:'126.917190362476'},
            {location : '도식화',lat:'37.5478957029264',lng:'126.922450970715'},
            {location : '도식화',lat:'37.5473162154361',lng:'126.922690177234'},
            {location : '도식화',lat:'37.5515411134987',lng:'126.921096037489'},

            {location : '도식화',lat:'37.551347497484',lng:'126.922058388556'},
            {location : '도식화',lat:'37.5492243732318',lng:'126.920419383003'},
            {location : '도식화',lat:'37.5494298799352',lng:'126.921615197284'},
            {location : '도식화',lat:'37.5511805964953',lng:'126.920250155629'},
            {location : '도식화',lat:'37.5481796265553',lng:'126.922665974076'},
            {location : '도식화',lat:'37.548552950744',lng:'126.917403965922'},
             {location : '도식화',lat:'37.5478957029264',lng:'126.922146248597'},
            {location : '도식화',lat:',37.5480427837486',lng:'126.919320216476'},
            {location : '도식화',lat:'37.5472344928949',lng:'126.917190362476'},
            {location : '도식화',lat:'37.545169596296',lng:'126.914100662532'},

            {location : '도식화',lat:'37.547223060744',lng:'126.918287296153'},
            {location : '도식화',lat:'37.5497489457886',lng:'126.922880610497'},
            {location : '도식화',lat:'37.5472577971992',lng:'126.917837103991'},
            {location : '도식화',lat:'37.5511933100314',lng:'126.921881669256'},
            {location : '도식화',lat:'37.549699608115',lng:'126.919957731837'},
            {location : '도식화',lat:'37.5462777501329',lng:'126.913874316815'},
            {location : '도식화',lat:'37.5462777501329',lng:'126.913874316815'},
            {location : '도식화',lat:'37.5463813420495',lng:'126.918019121351'},
            {location : '도식화',lat:'37.5490990328558',lng:'126.918031761543'},
            {location : '도식화',lat:'37.5503550144727',lng:'126.919987585685'},


            {location : '도식화',lat:'37.552184839072',lng:'126.920636800506'},
            {location : '도식화',lat:'37.5552687128652',lng:'126.928584503751'},
            {location : '도식화',lat:'37.5493038675519',lng:'126.928584503751'},
            {location : '도식화',lat:'37.5493038675519',lng:'126.919659854608'},
            {location : '도식화',lat:'37.5573689701965',lng:'126.928787574736'},
            {location : '도식화',lat:'37.5618472946461',lng:'126.92820868228'},
            {location : '도식화',lat:'37.5497679403446',lng:'126.921352980047'},
            {location : '도식화',lat:'37.5497942367002',lng:'126.922286222388'},
            {location : '도식화',lat:'37.5498732347229',lng:'126.922668185082'},
            {location : '도식화',lat:'37.592887877547',lng:'127.141959285175'},

            {location : '도식화',lat:'37.5481616020158',lng:'126.921430712861'},
            {location : '도식화',lat:'37.5458669613769',lng:'126.921600709469'},
            {location : '도식화',lat:'37.5518419835012',lng:'126.919931222832'},
            {location : '도식화',lat:'37.5477478250496',lng:'126.91884279986'},
            {location : '도식화',lat:'37.5467374852224',lng:'126.917213257312'},
            {location : '도식화',lat:'37.5561130617043',lng:'126.923446601456'},
            {location : '도식화',lat:'37.548752100984',lng:'126.919402547874'},
            {location : '도식화',lat:'37.5490889627418,',lng:'126.921646221657'},
            {location : '도식화',lat:'37.5461389190988',lng:'126.922063811817'},
            {location : '도식화',lat:'37.5498156376086',lng:'126.918611738626'},


            {location : '도식화',lat:'37.5467189339352',lng:'126.914694559649'},
            {location : '도식화',lat:'37.5484577443971',lng:'126.920867304116'},
            {location : '도식화',lat:'37.550483642878',lng:'126.920872857597'},
            {location : '도식화',lat:'37.5458450814854',lng:'126.927694560914'},
            {location : '도식화',lat:'37.5502168193782,',lng:'126.919483920958'},
            {location : '도식화',lat:'37.5462838392978',lng:'126.914442257195'},
            {location : '도식화',lat:'37.5472275065255',lng:'126.919512937021'},





        );

        let markers = new Array(); // 마커 정보를 담는 배열
        let infoWindows = new Array(); // 정보창을 담는 배열

        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng( 37.5507119,126.925618),
            zoom: 18
        });
        var infowindow = new naver.maps.InfoWindow();

        // function onSuccessGeolocation(position) {
        //     var location = new naver.maps.LatLng(position.coords.latitude,
        //         position.coords.longitude);
        //
        //     map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
        //     map.setZoom(17); // 지도의 줌 레벨을 변경합니다.
        //
        //     // infowindow.setContent('<div style="padding:20px;">' + '현재위치' + '</div>');
        //
        //     var marker = new naver.maps.Marker({
        //         map: map,
        //         icon:{
        //             content: '<img src="assets/current.png" alt="" style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: 30px; max-height: 30px; -webkit-user-select: none; position: absolute; width: 40px; height: 55px; left: 0px; top: 0px;">',
        //             size: new naver.maps.Size(32, 32)},
        //         title: "내 위치", // 지역구 이름
        //         position: new naver.maps.LatLng(position.coords.latitude, position.coords.longitude) // 지역구의 위도 경도 넣기
        //     });
        //     markers.push(marker);
        //     //infowindow.open(map, location);
        //
        //     console.log('Coordinates: ' + location.toString());
        // }
        //
        //
        // function onErrorGeolocation() {
        //     var center = map.getCenter();
        //
        //     infowindow.setContent('<div style="padding:20px;">' +
        //         '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');
        //
        //     infowindow.open(map, center);
        // }
        //
        // $(window).on("load", function() {
        //     if (navigator.geolocation) {
        //         /**
        //          * navigator.geolocation 은 Chrome 50 버젼 이후로 HTTP 환경에서 사용이 Deprecate 되어 HTTPS 환경에서만 사용 가능 합니다.
        //          * http://localhost 에서는 사용이 가능하며, 테스트 목적으로, Chrome 의 바로가기를 만들어서 아래와 같이 설정하면 접속은 가능합니다.
        //          * chrome.exe --unsafely-treat-insecure-origin-as-secure="http://example.com"
        //          */
        //         navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
        //     } else {
        //         var center = map.getCenter();
        //         infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
        //         infowindow.open(map, center);
        //     }
        // });

        /* 정보창 */


        // DB에 있는거 넣기
        for(var i = 0; i<cafeArr.length;i++)
        {
            var marker = new naver.maps.Marker({
                map: map,
                icon:{
                    content: '<img src="assets/current.png" alt="" style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: 30px; max-height: 30px; -webkit-user-select: none; position: absolute; width: 40px; height: 55px; left: 0px; top: 0px;">',
                    size: new naver.maps.Size(32, 32)},
                title: "내 위치", // 지역구 이름
                position: new naver.maps.LatLng(cafeArr[i].cafe_lat,cafeArr[i].cafe_lng) // 지역구의 위도 경도 넣기
            });
            markers.push(marker);
           // markers.push(marker); // 생성한 마커를 배열에 담는다.
           // infoWindows.push(infoWindow); // 생성한 정보창을 배열에 담는다.
        }

        for (var z = 0; z < areaArr.length; z++) {
            // 지역을 담은 배열의 길이만큼 for문으로 마커와 정보창을 채워주자 !
            var marker = new naver.maps.Marker({
                map: map,
                icon:{
                    content: '<img src="assets/chu1.png" alt="" style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: 30px; max-height: 30px; -webkit-user-select: none; position: absolute; width: 40px; height: 55px; left: 0px; top: 0px;">',
                    size: new naver.maps.Size(32, 32)},
                title: areaArr[i].location, // 지역구 이름
                position: new naver.maps.LatLng(areaArr[z].lat , areaArr[z].lng) // 지역구의 위도 경도 넣기
            });


            /* 정보창 */
            // for(var j=0;j<cafeArr.length;j++)
            // {
            //     if (areaArr[i].location == cafeArr[j].name)
            //     {
            //         var cname = cafeArr[j].name;
            //         // var cplace = cafeArr[j].place;
            //         // var key1 =  cafeArr[j].key_num[0];
            //         // var key2 = cafeArr[j].key_num[1];
            //         // var key3 = cafeArr[j].key_num[2];
            //         // var key4 = cafeArr[j].key_num[3];
            //         // var key5 = cafeArr[j].key_num[4];
            //         // var key6 = cafeArr[j].key_num[5];
            //     }
            // }

            // var infoWindow = new naver.maps.InfoWindow({
            //     anchorSize: new naver.maps.Size(0, 0),
            //     content: '<div style="text-align:center;padding:10px;">' +
            //         '<b> </b>'+cname + '<br>' +
            //         ' </div>'
            // });

            markers.push(marker); // 생성한 마커를 배열에 담는다.
          //  infoWindows.push(infoWindow); // 생성한 정보창을 배열에 담는다.
        }


        function getClickHandler(seq) {
            return function(e) {
                curId = cafeArr[seq].id;
                document.getElementById("id").value = curId;
                /////하단정보창
                var t2 = document.getElementById("cafename");
                var t3 = document.getElementById("cafeplace");
                var t4 = document.getElementById("cafekey1");
                var t5 = document.getElementById("cafekey2");
                var t6 = document.getElementById("cafekey3");
                var t7 = document.getElementById("cafekey4");
                var t8 = document.getElementById("cafekey5");
                var t9 = document.getElementById("cafekey6");
                var t10 = document.getElementById("num");


                //p 태그 글자(innerText) 바꿔주기
                //t1.innerText = "id : " + cafeArr[aa].id;
                t2.innerText = cafeArr[seq].name;
                t3.innerText = cafeArr[seq].place;
                t4.innerText = "조용함  " + cafeArr[seq].key_num[0];
                t5.innerText = "분위기 " + cafeArr[seq].key_num[1];
                t6.innerText = "콘센트이용 " + cafeArr[seq].key_num[2];
                t7.innerText = "자리편함 " + cafeArr[seq].key_num[3];
                t8.innerText = "공간넓음 " + cafeArr[seq].key_num[4];
                t9.innerText = "메뉴맛있음 " + cafeArr[seq].key_num[5];
                t10.innerText = "리뷰 " + cafeArr[seq].cnt;
                document.getElementById("info-id").style.display = 'block';
                /////
                // 마커를 클릭하는 부분
                var marker = markers[seq], // 클릭한 마커의 시퀀스로 찾는다.
                    infoWindow = infoWindows[seq]; // 클릭한 마커의 시퀀스로 찾는다
                if (infoWindow.getMap()) {
                    infoWindow.close();
                } else {
                    infoWindow.open(map, marker); // 표출
                }

            }
        }

        for (var i=0, ii=markers.length; i<ii; i++) {
            console.log(markers[i] , getClickHandler(i));
            naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i)); // 클릭한 마커 핸들러
        }
    }
</script>

<button type="button" class="btn btn-white" onClick="location.href='/search'"><i class="fa fa-search"></i></button>

</body>

</html>