<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>홍대생의 카공지도</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pjyeb54o2p"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" sizes="16x16">
    <!--<link rel="favicon" href="assets/favicon.ico">-->
</head>

<body style="overflow-x:hidden; overflow-y:hidden;">
<style>
    body {
        margin:0;
    }
</style>
<!-- 타이틀 -->
<body>

<!-- 타이틀
<nav class="navbar mt-2 p-0" style="background-color: #ffffff">
    <div class="container-fluid justify-content-center align-content-center">
        <img src="/assets/지도_컬러.png" width="40" class="me-2 pb-2">
        <span id="nav_title" class="navbar-brand fw-normal fs-1">홍대생의 카공지도</span><br>
    </div>
</nav>
 설명글
<div class="container m-0">
    <div class="text-center mb-2">
        <span class="fw-light" style="font-size:15px">카페를 클릭해 정보를 확인해보세요!</span>
    </div>
</div>
-->
<!-- 지도 -->
<div id="map" style="width:100%;height:100vh; margin: 0 auto; float : left; outline-color:#ffffff">

    <div id="top-nav-bar">
        <div class="bg-white">
            <!-- 타이틀 -->
            <nav class="navbar pt-2 p-0" style="background-color: #ffffff">
                <div class="container-fluid justify-content-center align-content-center">
                    <img src="/assets/지도_컬러.png" width="40" class="me-2 pb-2">
                    <span id="nav_title" class="navbar-brand fw-normal fs-1">홍대생의 카공지도</span><br>
                </div>
            </nav>
            <!-- 설명글 -->
            <div class="m-0 d-flex justify-content-center">
                <div class="text-center pb-2">
                    <span class="fw-light" style="font-size:15px">카페를 클릭해 정보를 확인해보세요!</span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between m-3">
            <!-- 현위치 버튼 -->
            <button type="button" id="to-current" class=" btn btn-white" >
                <img src="/assets/c3.png" width="40" height="40">
                <!--<img src="/assets/검색버튼_네이비.png" width="40" height="40">-->
            </button>
            <!-- 검색 버튼 -->
            <button type="button" id="to_search_btn" class=" btn btn-white" onClick="location.href='/search'">
                <img src="/assets/검색버튼_민트.png" width="40" height="40">
                <!--<img src="/assets/검색버튼_네이비.png" width="40" height="40">-->
            </button>

        </div>
    </div>


    <!--- 정보창 내용 -->
    <div id="info-id" class="p-3">
        <div class="d-flex justify-content-end" style="margin: -12px">
            <button class="btn align-content-center" id="close_btn" type="button" onclick="closeBtn()">
                <img src="/assets/닫기버튼.png" width="20" height="20">
            </button>
        </div>
        <div class=" d-flex justify-content-between align-items-center border-0">
            <div class="ms-2 me-auto">
                <h3 id="cafename">값</h3>
                <p class="fw-light" id="cafeplace" style="font-size: small">값</p>
            </div>
            <span class="badge rounded-pill bg-light text-muted fw-normal" id="num">리뷰 ?개 </span>
        </div>
        <div class="container border-0 justify-content-start" style="margin: 0;">
            <div class="row" style="max-width: 500px;">
                <div class="col text-start fw-light"><img src="/assets/silent_icon.png" width="20" height="20"><span id="cafekey1">값</span></div>
                <div class="col text-start fw-light"><img src="/assets/mood_icon.png" width="20" height="20"><span id="cafekey2">값</span></div>
                <div class="col text-start fw-light"><img src="/assets/consent_icon.png" width="20" height="20"><span id="cafekey3">값</span></div>
            </div>
            <div class="row" style="max-width: 500px;">
                <div class="col text-start fw-light"><img src="/assets/table_icon.png" width="20" height="20"><span id="cafekey4">값</span></div>
                <div class="col text-start fw-light"><img src="/assets/space_icon.png" width="20" height="20"><span id="cafekey5">값</span></div>
                <div class="col text-start fw-light"><img src="/assets/delicious_icon.png" width="20" height="20"><span id="cafekey6">값</span></div>
            </div>
        </div>
        <!-- 더보기 버튼 (value = 누른 카페의 ID)-->
        <div class="mt-3 mb-3 d-flex justify-content-end">
            <form id="form-id" action="/more" method="get">
                <input type="hidden" class="input" name="id" id="id" value="1" >
                <button type="submit" class="btn btn-primary fw-normal border-0" style="font-size:small; background-color: #6dc9c8;">더보기</button>
            </form>
        </div>
    </div>
</div>
</body>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script>
    function closeBtn(){
        document.getElementById("info-id").style.display = 'none';
    }
</script>
<script th:inline="javascript">
    //db -> js 배열
    let cafeArr = new Array();
    let cafeList = [[${cafeList}]];

    cafeList.forEach(function(item){
        let cafe = new Object();

        cafe.id = item.cafe_id
        cafe.place = item.cafe_place
        cafe.name = item.cafe_name
        cafe.key_num = item.key_num
        cafe.cnt=item.cnt
        cafe.cafe_lat = item.cafe_lat
        cafe.cafe_lng = item.cafe_lng


        cafeArr.push(cafe);
    });

</script>
<script type="text/javascript">
    $(function() {
        initMap();
    });

    function initMap() {
        document.getElementById("info-id").style.display = 'none';
        var areaArr = new Array();  // 지역을 담는 배열 ( 지역명/위도경도 )

        // w = window.innerWidth;
        // h = window.innerHeight;

        let markers = new Array(); // 마커 정보를 담는 배열
        let infoWindows = new Array(); // 정보창을 담는 배열

        let init_id = [[${idFromDetail}]];  //상세정보창에서 넘어온 카페의 id
        let init_x = 37.5544121;    //기본 lat
        let init_y = 126.921235;    //기본 lng
        let zoom_level = 15;    //기본 zoom(마커 적당히 많이 보이는 정도)

        if(init_id != "0"){ //넘어온 id가 있다면
            init_x = cafeArr[init_id-1].cafe_lat;   //id가 1부터 시작하니까 -1
            init_y = cafeArr[init_id-1].cafe_lng;
            zoom_level = 18;    //그 카페를 확대
        }

        // 지도 띄우기

       var temp_lat;
        var temp_lng;

        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(init_x, init_y),
            zoom: zoom_level
        });
        var infowindow = new naver.maps.InfoWindow();

        function onSuccessGeolocation(position) {
            var location = new naver.maps.LatLng(position.coords.latitude,
                position.coords.longitude);

            temp_lat=position.coords.latitude;
            temp_lng=position.coords.longitude;
            var curr_place = new naver.maps.LatLng(temp_lat,temp_lng)

            $("#to-current").on("click", function(e) {
                e.preventDefault();

                map.panTo(curr_place);
            });

            // map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
            //  map.setZoom(17); // 지도의 줌 레벨을 변경합니다.

            // infowindow.setContent('<div style="padding:20px;">' + '현재위치' + '</div>');
            // 사용자의 현 위치 마커 생성
            var marker = new naver.maps.Marker({
                map: map,
                icon:{
                    content: '<img src="assets/사람3.png" alt="" style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: 40px; max-height: 40px; -webkit-user-select: none; position: absolute; width: 40px; height: 55px; left: 0px; top: 0px;">',
                    size: new naver.maps.Size(32, 32)},
                title: "내 위치", // 지역구 이름
                position: new naver.maps.LatLng(position.coords.latitude, position.coords.longitude) // 지역구의 위도 경도 넣기
            });
            markers.push(marker);
            //infowindow.open(map, location);

            console.log('Coordinates: ' + location.toString());
        }


        function onErrorGeolocation() {
            var center = map.getCenter();

            infowindow.setContent('<div style="padding:20px;">' +
                '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');

            infowindow.open(map, center);
        }

        $(window).on("load", function() {
            if (navigator.geolocation) {
                /**
                 * navigator.geolocation 은 Chrome 50 버젼 이후로 HTTP 환경에서 사용이 Deprecate 되어 HTTPS 환경에서만 사용 가능 합니다.
                 * http://localhost 에서는 사용이 가능하며, 테스트 목적으로, Chrome 의 바로가기를 만들어서 아래와 같이 설정하면 접속은 가능합니다.
                 * chrome.exe --unsafely-treat-insecure-origin-as-secure="http://example.com"
                 */
                navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
            } else {
                var center = map.getCenter();
                infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
                infowindow.open(map, center);
            }
        });

        /* 정보창 */

        // 현위치 버튼




        // DB에 있는거 넣기
        for(var i = 0; i<cafeArr.length;i++)
        {
            var marker = new naver.maps.Marker({
                map: map,
                icon:{
                    content: '<img src="assets/cafeplace.png" alt="" style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: 30px; max-height: 30px; -webkit-user-select: none; position: absolute; width: 40px; height: 55px; left: 0px; top: 0px;">',
                    size: new naver.maps.Size(32, 32)},
                title: cafeArr[i].name, // 카페 이름
                position: new naver.maps.LatLng(cafeArr[i].cafe_lat,cafeArr[i].cafe_lng) // 카페의 위도 경도 넣기
            });
            markers.push(marker);
           // infoWindows.push(infoWindow); // 생성한 정보창을 배열에 담는다.
        }

        for (var z = 0; z < areaArr.length; z++) {
            // 지역을 담은 배열의 길이만큼 for문으로 마커와 정보창을 채워주자!
            var marker = new naver.maps.Marker({
                map: map,
                icon:{
                    content: '<img src="assets/cafeplace.png" alt="" style="margin: 0px; padding: 0px; border: 0px solid transparent; display: block; max-width: 30px; max-height: 30px; -webkit-user-select: none; position: absolute; width: 40px; height: 55px; left: 0px; top: 0px;">',
                    size: new naver.maps.Size(32, 32)},
                title: '카페', // 지역구 이름
                position: new naver.maps.LatLng(areaArr[z].lat , areaArr[z].lng) // 지역구의 위도 경도 넣기
            });

            markers.push(marker); // 생성한 마커를 배열에 담는다.
          //  infoWindows.push(infoWindow); // 생성한 정보창을 배열에 담는다.
        }



        //마커 클릭 시 실행할 함수
        function getClickHandler(seq) {
            return function(e) {
                curId = cafeArr[seq].id;
                document.getElementById("id").value = curId;
                //하단정보창
                var t2 = document.getElementById("cafename");
                var t3 = document.getElementById("cafeplace");
                var t4 = document.getElementById("cafekey1");
                var t5 = document.getElementById("cafekey2");
                var t6 = document.getElementById("cafekey3");
                var t7 = document.getElementById("cafekey4");
                var t8 = document.getElementById("cafekey5");
                var t9 = document.getElementById("cafekey6");
                var t10 = document.getElementById("num");


                //p 태그 글자(innerText) 바꿔주기
                //t1.innerText = "id : " + cafeArr[aa].id;
                t2.innerText = cafeArr[seq].name;
                t3.innerText = cafeArr[seq].place;
                t4.innerText = "조용함  " + cafeArr[seq].key_num[0];
                t5.innerText = "분위기 " + cafeArr[seq].key_num[1];
                t6.innerText = "콘센트이용 " + cafeArr[seq].key_num[2];
                t7.innerText = "자리편함 " + cafeArr[seq].key_num[3];
                t8.innerText = "공간넓음 " + cafeArr[seq].key_num[4];
                t9.innerText = "메뉴맛있음 " + cafeArr[seq].key_num[5];
                t10.innerText = "리뷰 " + cafeArr[seq].cnt;
                document.getElementById("info-id").style.display = 'block';

                // 마커를 클릭하는 부분
                var marker = markers[seq], // 클릭한 마커의 시퀀스로 찾는다.
                    infoWindow = infoWindows[seq]; // 클릭한 마커의 시퀀스로 찾는다
                if (infoWindow.getMap()) {
                    infoWindow.close();
                } else {
                    infoWindow.open(map, marker); // 표출
                }

            }
        }

        for (var i=0, ii=markers.length; i<ii; i++) {
            console.log(markers[i] , getClickHandler(i));
            naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i)); // 클릭한 마커 핸들러
        }
    }
</script>


</body>

</html>