<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>검색 결과</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" sizes="16x16">
</head>

<body>
<!-- Page content-->
<nav class="navbar">
    <div class="p-3">
        <button type="button" class="btn btn-white" onClick="location.href='/search'"><i class="arrow left"></i></button>
        <span class="page_title text-left fw-bold">검색결과</span>
    </div>
</nav>
<!-- 검색어/필터 표시 -->
<div class="container fs-6 m-2">
    <span class="fw-light">ㆍ  검색어:  </span>
    <span th:text="${searchText}">검색어</span><br>
    <span class="fw-light">ㆍ  선택한 키워드:  </span>
    <span th:text="${searchFilter}">검색필터</span>
</div>
<!-- 검색 결과 없는 경우 -->
<div th:if='${#lists.isEmpty(searchResult)}'class="text-center pt-5 mt-5">
    <p>검색 결과가 없습니다</p>
</div>
<!-- 검색결과 목록 -->
<th:block th:each="cafe:${searchResult}">
    <ul class="list-group border m-3 pt-2 pb-3">
        <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            <a class="link-dark" style="text-decoration:none" th:href="@{/more(id=${cafe.cafe_id})}">
                <div class="ms-2 me-auto">
                    <div class="fs-5 fw-normal" th:text="${cafe.cafe_name}">카페이름</div>
                    <span class="fw-light text-secondary" th:text="${cafe.cafe_place}" style="font-size: small">주소</span>
                </div>
            </a>
            <span class="badge rounded-pill bg-light text-muted fw-normal" th:text="리뷰 +${cafe.cnt}">리뷰 ??개</span>
            <!-- 민트색 둥근뱃지
            <span class="badge rounded-pill fw-light" th:text="리뷰 +${cafe.cnt}" style="color:#ffffff; background-color: #6dc9c8">리뷰 ??개</span>
            -->
        </li>
        <div class="container border-0 ps-4 justify-content-start" style="margin: 0;">
            <div class="row" style="max-width: 500px;">
                <div class="col text-start fw-light">조용함
                    <span th:text="${cafe.key_num[0]}">개수</span></div>
                <div class="col text-start fw-light">분위기
                    <span th:text="${cafe.key_num[1]}">개수</span></div>
                <div class="col text-start fw-light">콘센트 이용
                    <span th:text="${cafe.key_num[2]}">개수</span></div>
            </div>
            <div class="row" style="max-width: 500px;">
                <div class="col text-start fw-light">자리 편함
                    <span th:text="${cafe.key_num[3]}">개수</span></div>
                <div class="col text-start fw-light">공간 넓음
                    <span th:text="${cafe.key_num[4]}">개수</span></div>
                <div class="col text-start fw-light">메뉴 맛있음
                    <span th:text="${cafe.key_num[5]}">개수</span></div>
            </div>
        </div>
    </ul>
</th:block>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>